<div class="box">
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="http://placehold.it/128x128">
              </p>
            </figure>
            <div class="media-content">
              <p class="control">
                <textarea class="textarea" placeholder="Add a comment..."></textarea>
              </p>
              <br>
              <nav class="level">
                <div class="level-left">
                  <div class="level-item">
                    <a class="button is-info">Post comment</a>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                    <label class="checkbox">
                      <input type="checkbox"> Press enter to submit
                    </label>
                  </div>
                </div>
              </nav>
            </div>
          </article>
          <hr>
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="http://placehold.it/128x128">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Barbara Middleton</strong> <small> · 3 hrs</small>
                  <br>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
                  <br>
                  <small><a>Like</a> · <a>Reply</a></small>
                </p>
              </div>
            </div>
          </article>
          <div class="spacer"></div>
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="http://placehold.it/128x128">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Barbara Middleton</strong> <small> · 3 hrs</small>
                  <br>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
                  <br>
                  <small><a>Like</a> · <a>Reply</a></small>
                </p>
              </div>
            </div>
          </article>
          <div class="spacer"></div>
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="http://placehold.it/128x128">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Barbara Middleton</strong> <small> · 3 hrs</small>
                  <br>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
                  <br>
                  <small><a>Like</a> · <a>Reply</a></small>
                </p>
              </div>
            </div>
          </article>
          <div class="spacer"></div>
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="http://placehold.it/128x128">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Barbara Middleton</strong> <small> · 3 hrs</small>
                  <br>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
                  <br>
                  <small><a>Like</a> · <a>Reply</a></small>
                </p>
              </div>
            </div>
          </article>
          <div class="spacer"></div>
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="http://placehold.it/128x128">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Barbara Middleton</strong> <small> · 3 hrs</small>
                  <br>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
                  <br>
                  <small><a>Like</a> · <a>Reply</a></small>
                </p>
              </div>
            </div>
          </article>
        </div>