
 <div class="spacer"></div>
  <div class="container">
    <div class="columns">
      <div class="column is-8">
          <div class="box">
            <app-video-detail *ngIf="selectedOplm"
            [oplm] = "selectedOplm"
            [options]="{ autoplay: true, controls: true, sources: [{ src: selectedOplm.url, type: 'video/mp4' }]}"
            ></app-video-detail>
          </div>
        <br>
        <app-comment></app-comment>
      </div>
            <div class="column is-4">
              <app-playlist [oplms] = "oplms" (selectedOplmevent)="onSelect($event)"></app-playlist>
            </div>
    </div>
  </div>
   